bullmq==2.19.4
click==8.3.1
croniter==6.0.0
gitdb==4.0.12
GitPython==3.1.58
lizard==1.20.0
msgpack==1.2.1
pathspec==1.0.4
PyDriller==2.9
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2025.2
redis==6.4.0
schedule==1.2.2
semver==3.0.4
six==1.17.0
smmap==5.0.2
types-pytz==2025.2.0.20251108
